.alert {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.alert.show {
  opacity: 1;
  transform: translateY(0); /* Move to the original position */
  animation: smoothShow 0.5s ease-in-out;
}

.alert.hide {
  opacity: 0;
  transform: translateY(-10px); /* Move up when hiding */
  animation: smoothHide 0.5s ease-in-out;
}

@keyframes smoothShow {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes smoothHide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
